  .form-group {
    margin-bottom: 5px;
    }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .medio {
    max-width: 150px;
    min-width: 150px;
  }

  .medio-boton {
    max-width: 200px;
    min-width: 200px;
  }

  .corto {
    max-width: 70px;
    min-width: 70px;
  }

  .corto-num {
    max-width: 90px;
    min-width: 90px;
  }

  .largo {
    max-width: 350px;
    min-width: 350px;
  }

  .largo-extra {
    max-width: 400px;
    min-width: 400px;
  }

  h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    width: 98%;
    margin-left: 1%;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
  }
   
  .btn-primary {
    background-color: #1abc9c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #16a085;
  }
  
  .text-center {
    text-align: center;
  }
  
  .offset-md-3 {
    margin-left: 25%;
  }
  
  .fuente-container {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }


  #tabladetalleentrega thead tr th {
    background-color: #1abc9c;
    border-radius: 5px;
    text-align: center;
    border: solid 0.5px;
    border-color: white;
  }

  .derecha {
    text-align: right;
  }

.boton-titulo {
  border: none;
}

.oculta {
  display: none;
}

.input-small {
    max-width: 80px;
    text-align: right;
}

.input-medium {
  text-align: right;
    max-width: 150px;
}

.input-large {
    width: 100%;
}

.form-check-input {
    cursor: pointer;
}

.badge-custom {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
}

.badge-custom-exit {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
}

.badge-existencia {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  font-size: 11px;
}