label {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}


input {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
select {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}



        
        