@keyframes blink {
    0% { background-color: red; }
    50% { background-color: white; }
    100% { background-color: red; }
}

@keyframes blink-warning {
    0% { background-color: yellow; }
    50% { background-color: white; }
    100% { background-color: yellow; }
}


.blink {
    animation: blink 1s infinite; /* Cambia el tiempo según sea necesario */
}

.blink-warning {
    animation: blink-warning 2s infinite; /* Cambia el tiempo según sea necesario */
}