{% extends "base.html" %}

{% block title %}Nueva NC{% endblock title %}
{% load static %}
{% load zero_pad %} 
{% block cssextras %}
    <link rel="stylesheet" href="{% static 'css/notacredito.css' %}">
{% endblock cssextras %}
 
 
{% block contenido %}

<form action="" method="post">
{% csrf_token %}
<h6 class="mt-6 pt-5 bg-secondary text-white pb-1 ps-2"><i class="fa-solid fa-credit-card"></i> Crear nota de credito a cliente </h6>
<div class="container-fluid rounded mt-1 p-2" style="background-color: antiquewhite;" >
<h6><u><b>Datos del Pagador</b></u> <i class="fa-solid fa-user-tie"></i></h6>  
<div class="row p-2" style="width: 100%;">
    <div class="div1 " style="width:10%;">
        <label for="cedulapagadornotacrediro" class="form-label">Cedula - RIF</label>
        <input type="text" class="form-control form-control-sm" id="cedulapagadornotacrediro" required oninput="handleCedulaInput(this)" maxlength="15" onblur="buscarDatos(this.value)" >
    </div>
    <div class="div2 " style="width:20%;">
        <label for="nombrepagadornotacredito" class="form-label">Nombre</label>
        <input type="text" class="form-control form-control-sm " id="nombrepagadornotacredito" required  maxlength="100" >
        
    </div>
  
    <div class="div4 " style="width:20%;">
        <label for="telpagadornotacredito" class="form-label">Telefono</label>
        <input type="tel" class="form-control form-control-sm " id="telpagadornotacredito" required  maxlength="20" >
    </div>
    <div class="div5 " style="width:30%;">
        <label for="dirpagadornotacredito" class="form-label">Direccion</label>
        <input type="text" class="form-control form-control-sm " id="dirpagadornotacredito" required  maxlength="200" >
    </div>
   
</div>
<div class="row" style="width: 100%;">
    <div style="width: 60%;">
        <label for="desnotacredito" class="form-label">Descripcion de la nota de credito</label>
        <input type="text" class="form-control form-control-sm " id="desnotacredito" required  maxlength="200" >
    </div>
    <div style="width: 40%;">
        <label for="presupuestonotacredito" class="form-label">Presupuesto referencia</label>
        <select class="form-select form-select-sm" aria-label="Default select example" id="presupuesto_referencia">
            <option value="" selected>Seleccione presupuesto</option>
            {% for presupuesto in presupuestos  %}
                <option value="{{presupuesto.id}}">{{presupuesto.id}} - {{presupuesto.paciente}} - {{presupuesto.nombre_procedimiento}} - {{presupuesto.total_monto_precio}}$ </option>
            {% endfor %}
            
        </select>
    </div>
</div>

</div>

<div class="container-fluid rounded mt-1 p-2" style="background-color: rgb(221, 219, 216); width:100%"  >
<h6>  <i class="fa-solid fa-money-check-dollar fa-lg"></i> <u><b>Datos del Pago</b></u></h6>  

    <div class="row" style="width: 100%;">
        <div style="width:10%;">
            <label for="ref" class="form-label">Fecha Pago</label>
            <input type="date" class="form-control form-control-sm " name="fecha-pago" id="fecha-pago" value="{{fecha_hoy | date:'Y-m-d'}}" onchange="cambiartasa(this.value)">
        </div>
        <div style="width: 10%;">
            <label for="monto-cobrado-dl" class="form-label">Monto USD</label>
            <input type="text" class="form-control form-control-sm" name="monto-cobrado-dl" id="monto-cobrado-dolares" min="0" value="0.00" style="text-align: right;" onchange="cambioMonto('D',this.value)" required >
        </div>
        <div style="width: 10%;">
            <label for="monto-cobrado-bs" class="form-label">Monto Bs</label>
            <input type="text" class="form-control form-control-sm" name="monto-cobrado-bs" id="monto-cobrado-bolivares" min="0" value="0.00" style="text-align: right;" onchange="cambioMonto('B',this.value)" required>
        </div>
         <div style="width: 7%;">
            <label for="tasa-cambio" class="form-label">Tasa BCV</label>
            <input type="text" class="form-control form-control-sm " name="tasa-cambio" id="tasa-cambio" min="0" value="{{tasa_hoy}}" style="text-align: right;" onchange="cambioTx(this.value)" required >
        </div>
        <div style="width: 15%;">
            <label for="forma-pago" class="form-label">Forma Pago</label>
            <select class="form-select form-select-sm mx-auto " name="forma-pago" id="forma-pago">
                <option value="" selected>Forma Pago</option>
                {% for fp in formapago %}
                    <option value="{{ fp.id }}">{{ fp.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="width: 15%;">
            <label for="bancos" class="form-label">Banco</label>
            <select class="form-select form-select-sm mx-auto " name="bancos" id="bancos">
                <option value="" selected>Banco</option>
                {% for bc in bancos %}
                    <option value="{{ bc.id }}">{{ bc.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="width:10%;">
            <label for="ref" class="form-label">Referencia</label>
            <input type="text" class="form-control form-control-sm " name="referencia-pago" id="referencia-pago" maxlength="15">
        </div>
        <div style="width: 20%;">
            <label for="recepcionpago" class="form-label">Recepcion de Pago</label>
            <select class="form-select form-select-sm mx-auto " name="destino_cobro" id="destino_cobro" required >
                 <option value="" selected>Cuenta Receptora</option>
                {% for obj in bancolocal %}
                    <option value="{{ obj.id }}">{{ obj.nombrecuenta }}</option>
                {% endfor %}
            </select>
        </div>

        
    </div>

</div>
<div class="mt-2 p-2">
    <button type="button" class="btn btn-outline-primary btn-sm" onclick="guardar_pago()"><i class="fa-solid fa-floppy-disk"></i> Guardar Pago</button>
    <button type="button" class="btn btn-outline-danger btn-sm" onclick="cerrar_lista()"><i class="fa-solid fa-backward"></i> Cerrar</button>
</div>

<h6 class="p-2" >  <i class="fa-solid fa-list-check"></i> <u>Notas de Credito Anteriores</u></h6>  
<div id="tabla-nota-credito-cliente" class="p-3 rounded" style="background-color: gray;">

    {% include 'lista_nota_credito_cliente.html' %}
</div>

</form>



{% endblock %}

{% block jsextras %}

<script src="{% static 'js/cedula.js' %}"></script> 
<script src="{% static 'js/agregarnotacredito.js' %}"></script> 
 

{% endblock jsextras %}