{% extends "base.html" %}

{% block title %}Crear Bancos{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block cssextras %}
    
{% endblock cssextras %}

<link rel="stylesheet" href="{% static 'css/mediconew.css' %}"> 
{% block contenido %}

<form action="" method="post" class="form-horizontal p-5" >
{% csrf_token %}
<div class="container  p-5" style="align-items: start; font-family: Calibri, 'Trebuchet MS', sans-serif; background-color: antiquewhite;">
    <h6 class="bg-success p-2 w-50 rounded text-white"><i class="fa-solid fa-building-columns "></i> Crear Banco  </h6>
            {{ form.as_p }}
            <div class="row w-100">
                <div class="col">
                    <button type="submit" class="myButtonGuardar">Guardar</button>
                </div>
                <div class="col">
                    <a href="{% url 'index' %}" class="myButtonCancel float-end" >Salir</a>
                </div>
            </div>
        <div class="container-fluid">
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Alias</th>
                <th scope="col">Nro. Cuenta</th>
                <th scope="col">Banco</th>
                <th scope="col">Moneda</th>
                <th scope="col">Uso</th>
                <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                
                {% for banco in bancos  %}
                <tr>
                    <td> {{banco.id}} </td>
                    <td> {{banco.nombrecuenta}} </td>
                    <td> {{banco.numerocuenta}} </td>
                    <td> {{banco.banco}} </td>
                    <td> {{banco.moneda}} </td>
                    <td> {{banco.uso}} </td>
                  
                        
                        {% if banco.activo %}
                           <td> Activo</td>
                        {% else %}
                            <td style="color: red;"><b>INACTIVO</b></td>
                        {% endif %}
                            
                   

                </tr>
                    
                {% endfor %}
                    

            </tbody>
            </table>
        </div>
            
    </div>
</form>
{% endblock %}