{% extends 'base.html' %}
{% block title %}Crear Producto{% endblock title %}

{% load static %}
{% block cssextras %}
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
{% endblock cssextras %}


{% block contenido %}

<form action="" method="post"> 
    {% csrf_token %}
    <h6 class="bg-primary mt-4 p-2 pt-4 text-white"><i class="fa-solid fa-boxes-stacked"></i> Nuevo Producto </h6>
    <div class="container-fluid  p-2 fuente-container">

        <input type="hidden" id="porc_incremento" value="{{incremento.porcentaje}}">
        <input type="hidden" id="montoIncremento" value="{{incremento.monto}}">
       
  

        <div class="row w-100">
          <div class="form-group " style="width: 10%;">
            <input type="hidden" name="idDetalle" id="idDetalle">
            <label for="codigoNew">Codigo</label>
            <input type="text" name="codigoNew" id="codigoNew" maxlength="20" value="AUTOMATICO" readonly >
          </div>

          <div style="width: 10%;">
            <label for="categoriaNew">Categoria</label>
            <select class="form-select form-select-sm" name="categoriaNew" id="categoriaNew" >
                         
              {% for cat in categorias %}
                <option value="{{cat.id}}" {% if cat.id == prodinv.categoria_id %}selected{% endif %}>{{ cat.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group " style="width: 25%;">
            <label for="nombreUpdate" class="form-label">Nombre Producto</label>
            <input class="form-control" list="datalistOptions"  id="id_datalistOptions" name="nombreUpdate" value="" onchange="buscarInventarioProducto()" maxlength="200"  required>
            <datalist id="datalistOptions"> 
              {% for producto in productos %}
                  <option value="{{ producto.nombre }}" data-id="{{ producto.id }}" >{{ producto.nombre }}</option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="producto_id" name="producto_id">
          </div>
          <div class="form-group col w-100">
            <label for="presentacion_entradaUpdate">Presentacion</label>
            <select class="form-select form-select-sm" name="presentacion_entradaUpdate" id="presentacion_entradaUpdate" required >
              <option value="" selected>Presentacion</option>
              {% for item in presentacion %}
                <option value="{{item.id}}" >{{ item.nombre }}</option>
              {% endfor %}
            </select>
            
          </div>
          
          <div class="form-group col w-100">
            <button type="button" class="boton-titulo" onclick="agregarUnidad()"><b>Unidad de Compra</b></button>
            <select class="form-select form-select-sm" name="unidad_compra" id="unidad_compra" required >
              <option value="" selected>Unidad</option>
              {% for item in unidadcompra %}
                <option value="{{item.id}}" >{{ item.nombre }}</option>
              {% endfor %}
            </select>
            
          </div>

          <div class="form-group "  style="width: 10%;">
            <label for="pivaNew">% IVA</label>
            <input type="text" name="pivaNew" id="pivaNew" min="0" step="0.01" value="0" >
          </div>
          <div class="form-group col w-100">
            <label for="conversion">Unidad Conversion</label>
            <input class="w-100" type="text" name="conversion" id="conversion" value="1" step="0.01" required onchange="cambioConversion('{{montoincremento}}',this.value)" >
          </div>

          <div class="form-group "  style="width: 10%;">
            <label for="costoUpdate">Costo $</label>
            <input type="text" name="costoUpdate" id="costoUpdate" min="0" step="0.01" value="0" style="background-color: rgb(197, 197, 197); text-align: right;" required onchange="precioVenta('{{montoincremento}}',this.value)" >
          </div>
        

          <div class="form-group "  style="width: 10%;">
            <label for="ventaUpdate">Venta $</label>
            <input type="text" name="ventaUpdate" id="ventaUpdate" min="0" step="0.01" value="0"  style="background-color: rgb(197, 197, 197); text-align: right;" required>
          </div>

          <div class="row w-100">

            <div class="form-group col w-100">
              <label for="presentacion_salidaUpdate">Unidad Venta</label>
              <select class="form-select form-select-sm" name="presentacion_salidaUpdate" id="presentacion_salidaUpdate" required >
                <option value="" selected>Unidad Venta</option>
                {% for item in presentacion %}
                  <option value="{{item.id}}" >{{ item.nombre }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group col w-100">
              <label for="cantidad_minima">Cant. Minima</label>
                <input class="w-100" type="number" name="cantidad_minima" id="cantidad_minima" value="0" step="1" min="0" >
            </div>
            <div class="form-group col w-100">
              <label for="cantidad_critica">Cant. Critica</label>
                <input class="w-100" type="number" name="cantidad_critica" id="cantidad_critica" value="0" step="1" min="0" >
            </div>

            <div class="form-group " style="width: 25%;">
              <label for="nombreComercial" class="form-label">Nombre Comercial</label>
              <input class="form-control"  name="nombreComercialUpdate" id="nombreComercialUpdate" value="" maxlength="200" >
             
            </div>

            <div class="form-group col w-100">
              <label for="laboratorioUpdate">Laboratorio</label>
              <select class="form-select form-select-sm" name="laboratorioUpdate" id="laboratorioUpdate" >
                <option value="1" selected>Asignar Laboratorio</option>
                {% for item in laboratorios %}
                  <option value="{{item.id}}" >{{ item.nombre }}</option>
                {% endfor %}
              </select>
             
            </div>
            
            <div class="form-group col w-100">
              <label for="loteUpdate">Lote</label>
              <input class="w-100" type="text" name="loteUpdate" id="loteUpdate" maxlength="20" value="" >
            </div>
            <div class="row w-100">
              
              <div class="form-group col w-100">
                <label for="fechaelaboraUpdate">Fecha Elaboracion</label>
                <input type="date" name="fechaelaboraUpdate" id="fechaelaboraUpdate" value="{{fecha_hoy|date:'Y-m-d'}}" >
              </div>
              <div class="form-group col w-100">
                <label for="fechavenceUpdate">Fecha Vencimiento</label>
                <input type="date" name="fechavenceUpdate" id="fechavenceUpdate" value="{{fecha_hoy|date:'Y-m-d'}}" >
              </div>
              <div class="form-group col w-100" >
                <label for="cantidad_producidas" style="font-family: sans-serif;  font-size: 14px;">PRODUCIDAS</label>
                <input class="w-100" type="text" name="cantidad_producidas" id="cantidad_producidas" value="0" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 2px; font-size: 14px;" readonly >
              </div>
              <div class="form-group col w-100" >
                <label for="existencia" style="font-family:  'Arial Narrow Bold', sans-serif;  font-size: 14px;">EXISTENCIA ACTUAL</label>
                <input class="w-100" type="text" name="existencia" id="existencia" value="0" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 2px; font-size: 14px;" readonly >
              </div>
              <div class="form-group col w-100" >
                <label for="salida_total" style="font-family:  'Arial Narrow Bold', sans-serif;  font-size: 14px;">SALIDAS DEL PRODUCTO</label>
                <input class="w-100" type="text" name="salida_total" id="salida_total" value="0" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 2px; font-size: 14px;" readonly >
              </div>
              
            </div>

            
              <!-- <button type="button" class="myButtonGuardar ms-3 mb-2">Guardar Producto y agregar cantidades en depositos</button> -->
            
          </div>
          <!-- <div class="button-container">
            <button class="button button1">Botón 1</button>
            <button class="button button2">Botón 2</button>
            <button class="button button3">Botón 3</button>
            <button class="button button4">Botón 4</button>
          </div> -->

          <h6 class="bg-primary text-center text-white">DISTRIBUCION DEL PRODUCTO EN DEPOSITOS</h6>
          <div class="container" id="tabla-deposito-uso-new">
            {% include 'tabla_deposito_uso_new.html' %} 
          </div>
     
    </div>
    <button class="myButtonGuardar" type="submit">Guardar Producto</button>
    <a href="{% url 'listado_producto_inventario' %}" class="myButtonCancel float-end me-4" type="button">Salir</a>


    <!-- Modal de descarga del producto -->
<div class="modal fade" id="descargaProducto" tabindex="-1" aria-labelledby="descargaProductoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h6 class="modal-title " id="descargaProductoLabel">Descargar Producto</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group col w-100">
        <label for="tipodescarga">Tipo Descarga</label>
        <select name="tipodescarga" id="tipodescarga" class="form-select form-select-sm">
          {% for descarga in tipodescarga %}
          <option value="{{descarga.id}}">{{descarga.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col w-100">
        <label for="notadescarga">Observacion / Nota</label>
        <input type="text" class="form-control" id="notadescarga" name="notadescarga" placeholder="Agregar nota ....." maxlength="200" >
      </div>
      <div class="form-group col w-100">
        <label for="depositodescarga">Deposito afectado</label>
        <input type="text" class="form-control" id="depositodescarga" name="depositodescarga" readonly >
        <input type="hidden" id="iddepositodescarga" name="depositodescarga" readonly >
      </div>
      <div class="form-group col w-100">
        <label for="cantidaddescarga">Cantidad a Descargar</label>
        <input type="number" class="form-control" id="cantidaddescarga" name="cantidaddescarga" min="0" value="0" step="1"  >
        <input type="hidden" class="form-control" id="cantidadOriginal" name="cantidadOriginal"   >
        
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="myButtonCancel" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="myButtonGuardar" onclick="descargaInventario()">Aplicar Descarga</button>
      </div>
    </div>
  </div>
</div>

 <!-- Modal de cambio deposito del producto -->
 <div class="modal fade" id="cambioDeposito" tabindex="-1" aria-labelledby="cambioDepositoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h6 class="modal-title " id="cambioDepositoLabel">Traslado del producto de deposito</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form-group col w-100">
          <label for="depositodescargacambio">Deposito Origen (Salida de Producto)</label>
          <input type="text" class="form-control" id="depositodescargacambio" name="depositodescargacambio" readonly >
          <input type="hidden" id="iddepositodescargacambio" name="depositodescargacambio" readonly >
        </div>
        <div class="form-group col w-100">
          <label for="depositocarga">Deposito Destino (Receptor de Producto)</label>
          <select name="depositocarga" id="depositocarga" class="form-select form-select-sm">
            <option value = "" selected>Deposito Destino</option>
            {% for deposito in depositos %}
            <option value="{{deposito.id}}">{{deposito.nombre}}</option>
            {% endfor %}
          </select>

        </div>


        <div class="form-group col w-100">
        <label for="motivoDescarga">Motivo del Cambio</label>
        <select name="motivoDescarga" id="motivoDescarga" class="form-select form-select-sm">
          {% for descarga in tipodescarga %}
          <option value="{{descarga.id}}">{{descarga.nombre}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col w-100">
        <label for="notacambio">Observacion / Nota</label>
        <input type="text" class="form-control" id="notacambio" name="notacambio" placeholder="Agregar nota ....." maxlength="200" >
      </div>
     
      <div class="form-group col w-100">
        <label for="cantidadcambiar">Cantidad Trasladar</label>
        <input type="number" class="form-control" id="cantidadcambiar" name="cantidadcambiar" min="0" value="0" step="1"  >
        <input type="hidden" class="form-control" id="cantidadOrigen" name="cantidadOrigen"   >
        
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="myButtonCancel" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="myButtonGuardar" onclick="ejecutarTraslado()">Ejecutar Traslado <i class="fa-solid fa-square-arrow-up-right fa-lg"></i></button>
      </div>
    </div>
  </div>
</div>


      
</form>

<!-- Modal agregar unidad de compra -->
<div class="modal fade" id="modalUnidadCompra" tabindex="-1" aria-labelledby="modalUnidadCompraLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-light">
        <h6 class="modal-title " id="modalUnidadCompraLabel">Agregar Unidad de Compra</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <label for="nomunidadcompra">Nombre Unidad</label>
        <input type="text" class="form-control m-2" id="nomunidadcompra" name="nomunidadcompra"  maxlength="100" >
        <button type="button" class="myButtonGuardar m-2" onclick="guardarUnidad()">Agregar <i class="fa-solid fa-caret-down"></i></button>
        <table class="table table-hover table-striped table-sm table-primary">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nombre</th>
            
            </tr>
          </thead>
          <tbody>
            {% for item in unidadcompra %}
            <tr>
              <td> {{ item.id }} </td>
              <td>{{ item.nombre }}</td>

            </tr>
          
            {% endfor %}
           
          </tbody>
        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsextras %}


<script src="{% static 'js/listaproductoinv.js' %}"></script>
<script src="{% static 'js/listanombreprodinv.js' %}"></script>




{% endblock jsextras %}