{% extends "base.html" %}

{% block title %}Cuenta x Pagar{% endblock title %}
{% load static %}
{% block cssextras %}
<link rel="stylesheet" href="{% static 'css/documentocxp.css' %}">
<link rel="stylesheet" href="{% static 'css/botones.css' %}">
{% endblock cssextras %}

 
{% block contenido %}
<form action="" method="post" onsubmit="return validarCampos()" >
  {% csrf_token %}
    <div class="container-fluid border border-primary mt-5 p-3">
          <h5 class="text-primary">Registro de Factura Medico</h5>
      
        <div class="row">
          <div class="col-md-2" >
            <label for="medico" class="form-label">Beneficiario:</label>
            <select id="id_medico" name="medico" class="form-select form-select-sm" style="font-size: 10px;">
                <option value="" selected>Medico</option>
             {% for prv in medicos %}
                <option value="{{prv.id}}">{{prv.nombre}}</option>
             {% endfor %}
            </select>
          </div>
          <div class="col-md-2">
            <button class="myButton mt-3" type="button" onclick="buscarRecibos()"><i class="fa-solid fa-magnifying-glass-dollar fa-lg"></i> BUSCAR </button>
            
          </div>
          <div class="col-md-2">
            <label for="nrodocumento" class="form-label">Nro. Documento:</label>
            <input type="text" id="nrodocumento" name="nrodocumento" class="form-control form-control-sm" style="font-size: 10px;" >
          </div>
          <div class="col-md-2">
            <label for="nrocontrol" class="form-label">Nro. Control:</label>
            <input type="text" id="nrocontrol" name="nrocontrol" class="form-control form-control-sm" style="font-size: 10px;">
          </div>
        
          <div class="col-md-2">
            <label for="fechaentrega" class="form-label">Fecha Factura:</label>
            <input type="date" id="fechaentrega" name="fechaentrega" class="form-control form-control-sm" style="font-size: 10px;" value="{{fecha_hoy|date:'Y-m-d'}}">
          </div>
          <div class="col-md-2">
            <label for="retencion" class="form-label">Concepto</label>
            <select id="retencion" name="retencion" class="form-select form-select-sm" style="font-size: 10px; background-color:yellow;" onchange="cambioConcepto(this.value, this.selectedOptions[0].getAttribute('data-natural'), this.selectedOptions[0].getAttribute('data-juridico'),this.selectedOptions[0].getAttribute('data-sustraendo'),this.selectedOptions[0].getAttribute('data-tope'))">
              <option value="" selected>Seleccione Concepto</option>
              {% for ret in retenciones %}
                  <option value="{{ret.id}}" data-natural="{{ret.natural}}" data-juridico="{{ret.juridica}}" data-sustraendo="{{ret.sustraendonatural}}" data-tope="{{ret.topenatural}}" >{{ret.nombre}}</option>
              {% endfor %}
          </select>
          </div>
        </div>
        <div class="row mt-2">
          
        </div>
       
        <table id="items-recibo" class="table table-striped table-primary mt-2">
          <thead>
            <tr>
              
              <th>Fecha</th>
              <th>No.Documento</th>
              <th>No.Control</th>
              <th>Descripción</th>
              <th>Nota Transaccion</th>
              <th style="text-align: center;">Monto Bs.</th>
              <th>...</th>
              <th style="display: none;" >ID</th>
            </tr>
          </thead>
          <tbody >
            
          </tbody>
          <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL A FACTURAR</b></td>
            <td id="total-monto" style="text-align:right; font-weight:bold;"></td>
            <td></td>
          </tfoot>
        </table>

        <div class="grid">
          <div class="item w-100">
            <div class="content">
              <label for="base">Base Imponible</label>
              <input type="text" name="baseimponible" id="baseimponible" value="0.00" readonly>
              <label for="base">Base Imponible</label>
              <input type="text" name="baseimponible" id="baseimponible" value="0.00" readonly>
            </div>
          </div>
          <div class="item w-100">
            <div class="content">
              <label for="retencion">% Retencion ISLR</label>
              <input type="text" name="p_rentencion" id="p_rentencion" value="0.00" readonly>
              <label for="retencion">% Retencion ISLR</label>
              <input type="text" name="p_rentencion" id="p_rentencion" value="0.00" readonly>
            </div>
          </div>
          <div class="item w-100">
            <div class="content">
              <label for="mretencion">Monto a Retener</label>
              <input type="text" name="m_retencion" id="m_retencion" value="0.00" readonly>
              <label for="mretencion">Monto a Retener</label>
              <input type="text" name="m_retencion" id="m_retencion" value="0.00" readonly>
            </div>
          </div>
          <div class="item w-100">
            <div class="content">
              <label for="apagar">Monto a Pagar</label>
              <input type="text" name="monto_pagar_neto" id="monto_pagar_neto" value="0.00" readonly>
              <label for="apagar">Monto a Pagar</label>
              <input type="text" name="monto_pagar_neto" id="monto_pagar_neto" value="0.00" readonly>
            </div>
          </div>
        </div>

        <input type="hidden" name="" id="m-sustraendo" value="0">
        <input type="hidden" name="" id="m-tope" value="0">
        <div class="mt-1 mb-1">
            <button class="myButtonGuardar" type="submit"> Guardar Factura</button>
            <button class="myButtonCancel" type="button"> Cancelar</button>
        </div>

    </div>
  

    <!-- Modal recibos pagados -->
<div class="modal fade" id="buscarReciboMedico" tabindex="-1" aria-labelledby="buscarReciboMedicoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h6 class="modal-title" id="buscarReciboMedicoLabel">Recibos de pago medico </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div id="tabla-recibo-medico" class="fuente-calibri">
          {% include 'tabla-convertir-factura-medico.html' %}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="btn-get-recibos-seleccionados" class="btn btn-primary btn-sm" onclick="agregarRecibo()">Aplicar Seleccion</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>

  </form>

    {% endblock %}

{% block jsextras %}

<script src="{% static 'js/documentocxp.js' %}"></script> 
 

{% endblock jsextras %}