{% extends 'base.html' %}
{% block title %}Editar Nota{% endblock title %}
{% load l10n %}
{% load static %}
{% block cssextras %}
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
{% endblock cssextras %}


{% block contenido %}

<form action="" method="post">
    {% csrf_token %}
    <h6 class="bg-primary mt-4 p-3 pt-4 text-white">Modificar nota de entrega</h6>
    <div class="container-fluid  p-2 fuente-container">
      <div class="row w-100">
        <div class="form-group col">
          <label for="fechadocumento">Fecha Documento</label>
          <input type="date" name="fechadocumento" id="fechadocumento" value="{{ notaentrega.fecha_entrega|date:'Y-m-d' }}" onchange="cambioTasaEdicion(this.value)" >
        </div>
        <div class="form-group col">
          <label for="numeronota">Numero Entrega</label>
          <input type="text" name="numeronota" id="numeronota" value="{{notaentrega.numerodocumento}}" required>
        </div>
        <div class="form-group col" >
          <label for="proveedor">Proveedor</label>
          <select name="proveedor" id="proveedor" class="form-select form-select-sm" aria-label="Default select example">
            {% for proveedor in proveedores %}
            <option value="{{proveedor.id}}" {% if proveedor.id == notaentrega.proveedor_compra_id %}selected{% endif %}>{{ proveedor.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group col"> 
          <label for="tasacambiofactura">Tasa Cambio Aplicable</label>
          <input type="number" name="tasacambiofactura" id="tasacambiofactura" value="{{notaentrega.tasaaplicable|unlocalize}}" step="0.0001" >
          
        </div>
        {% if not notaentrega.cantidad_inventario_actualizado %}
          <div class="form-group col w-50"> 
            <div class="oculta" id="muestratasa" >
              <label for="cambiotasa">.. </label>
              <button class="btn btn-sm btn-outline-success" type="submit" name="accion" value="tasanew" style="font-size: 12px;">Aplicar</button>
              <button class="btn btn-sm btn-outline-secondary" type="button" style="font-size: 12px;" onclick="recargaPagina()">Regresar</button>
            </div>
          </div>
        {% endif %}
        

        <div class="form-group col"  >
          <label for="moneda_factura">Moneda Referencia</label>
          <select name="moneda_factura" id="moneda_factura" class="form-select form-select-sm" aria-label="Default select example">
            <option value = "1" {% if  notaentrega.moneda_factura == 1 %}selected{% endif %}>Dolares</option>
            <option value = "2" {% if  notaentrega.moneda_factura == 2 %}selected{% endif %} >Bolivares</option>
            
          </select>
        </div>
        {% if not notaentrega.cantidad_inventario_actualizado and  not notaentrega.convertida_factura%}
        <div class="form-group col w-50 oculta" id="muestramoneda"> 
          <label for="cambiomoneda">.. </label>
          <button class="btn btn-sm btn-outline-success" type="submit" name="accion" value="monedanew">Aplicar Moneda</button>
        </div>
        {% endif %}
        {% if not notaentrega.cantidad_inventario_actualizado and not notaentrega.convertida_factura%}
          <div class="form-group col" >
          <button class="myButtonGuardar mt-3" type="button" onclick="validarDatos()">Agregar Producto <i class="fa-solid fa-plus"></i></button>
          </div>
        {% endif %}
     
      </div>
      <div class="row w-100 ms-0">
        <div class=" border border-primary" style="width:100%;">
          <p class="bg-primary text-center text-white">PRODUCTOS</p>
          <div class="container-fluid">
            <div id="tabla-detalle-inventario">
              {% include 'tabla_inventario.html' %} 
            </div>
           
          </div>

        </div>
        
      </div>
      <a type="button" href="{% url 'entregas_transito' %}"  class="myButtonGuardar mt-2">Regresar</a>
      {% if not notaentrega.cantidad_inventario_actualizado and not notaentrega.convertida_factura%}
        <button type="submit" name="accion" value="eliminar" class="myButtonCancel mt-2 float-end">Eliminar Nota</button>
      {% endif %}
      </div>
      

<!-- Modal AGREGAR PRODUCTOS A INVENTARIO -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="agregarProductoLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" >
    <div class="modal-content" >
      <div class="modal-header bg-primary text-white">
        <h6 class="modal-title" id="agregarProductoLabel">Agregar Producto</h6>
         
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- DISPLAY NONE PARA CODIGO DE PRODUCTO -->
      <div class="form-group col w-100" style="display: none;">
        <label for="codigo">Codigo</label>
        <input type="text" name="codigo" id="codigo" maxlength="20" value="Automatico" readonly>
      </div>
      <div class="modal-body" style="font-family:Calibri, 'Trebuchet MS', sans-serif; font-size:12px;">
        <input type="hidden" id="porc_incremento" value="{{incremento.porcentaje}}">
        <input type="hidden" id="montoIncremento" value="{{incremento.monto}}">

        <div class="row flex-nowrap ">

          <div class="form-group col-12 col-md-4" style="overflow: auto;">
            <label for="nombre" class="form-label">Nombre Producto</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escriba Nombre..." onblur="cambioNombreInventario()" maxlength="200">
            <datalist id="datalistOptions" > 
              {% for producto in productos %}
                  <option value="{{ producto.nombre }}" data-id="{{ producto.id }}" >{{ producto.nombre }}</option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="producto_id" name="producto_id">
          </div>

          <div class="form-group col-12 col-md-3 ">
            <label for="nombrecomercial" class="form-label">Nombre Comercial</label>
            <input class="form-control" id="nombrecomercial" placeholder="Escriba Nombre Comercial..." maxlength="200" >
          </div>

          <div class="form-group col-12 col-md-2">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" class="form-select form-select-sm" aria-label="Categoria" onchange="verificarExento(this.value)">
              <option value = "" selected>Seleccionar</option>
              {% for categoria in categorias %}
              <option value="{{categoria.id}}">{{categoria.nombre}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-12 col-md-2">
            <label for="clasificacion">Clasificacion</label>
            <select name="clasificacion" id="clasificacion" class="form-select form-select-sm" aria-label="Clasificacion" onchange="filtrarPorClasificacion()">
              <option value = "" selected>Seleccionar</option>
              {% for cal in clasificacion %}
              <option value="{{cal.id}}">{{cal.nombre}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

        <div class="row flex-nowrap" style="overflow: auto; width: 100%;" >

          <div class="row flex-nowrap bg-success-subtle ms-2" style="width: 68%; border-radius: 8px 0 0 8px;">

              <div class="form-group" style="max-width: 300px;">
                <label for="unidad_compra">Presentacion de Compra</label>
                <select name="unidad_compra" id="unidad_compra" class="form-select form-select-sm" aria-label="Select Compra" onchange="totalCantidadCompra(this)">
                  <option value = "" selected>Presentacion</option>
                  {% for item in unidadcompra %}
                  <option value="{{item.id}}" 
                  data-cantidad="{{item.cantidad_bulto}}" 
                  data-cant_und_bulto="{{item.cantidad_unidad_bulto}}" 
                  data-clasificacion="{{item.unidad_id}}"
                  >{{item.nombre}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group" style="max-width: 120px;">
                <label for="cantidadcompra">Cantidad</label>
                <input type="number" name="cantidadcompra" id="cantidadcompra" min="1" step="any" value="1.00" onchange="cambioCantidadCompra(this.value)">
              </div>

              <div class="form-group" style="max-width: 200px;">
                <label for="totalcantidad_compra">Unidades a inventario</label>
                <input type="number" name="totalcantidad_compra" id="totalcantidad_compra" min="0" step="0.0001" value="0.0000"  disabled >
              </div>

          </div>

          <!-- *** -->
          <div class="row flex-nowrap bg-danger-subtle ms-2" style="width: 30%; border-radius: 0 8px 8px 0;">

              <div class="form-group" style="max-width: 250px;">
                <label for="presentacion_salida">Unidad Salida</label>
                <select name="presentacion_salida" id="presentacion_salida" class="form-select form-select-sm" aria-label="Default select example" onchange="totalCantidadSalida(this)">
                  <option value = "" selected>Seleccionar</option>
                  {% for presentacion in presentaciones %}
                  <option value="{{presentacion.id}}"
                  data-cantidad="{{presentacion.cantidad}}" 
                  data-clasificacion="{{presentacion.unidad_id}}"
                  >{{presentacion.nombre}}</option>
                  {% endfor %}
                </select> 
              </div>

          
          </div>

        </div>
        
        <div class="row w-100">
          
          <div class="row w-100">
            <div class="form-group col w-100">
              <label for="piva">% IVA</label>
              <input type="number" name="piva" id="piva" min="0" step="0.01" value="0.00" >
            </div>
  
            <div class="form-group col w-100">
              <label for="costo" id="costo_moneda">Costo</label>
              <input type="number" name="costo" id="costo" min="0" step="0.01" value="0.00" oninput="montoVenta()" >
            </div>
            <div class="form-group col w-100">
              <label for="venta" id="venta_moneda">Venta</label>
              <input type="number" name="venta" id="venta" min="0" step="0.01" value="0.00" style="background-color: #e9ecef;">
            </div>

            <div class="form-group col w-100">
                <label for="laboratorio">Laboratorio</label>
                <select name="laboratorio" id="laboratorio" class="form-select form-select-sm" aria-label="Default select example">
                  <option value = "" selected>Seleccionar</option>
                  {% for laboratorio in laboratorios %}
                  <option value="{{laboratorio.id}}">{{laboratorio.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
              
              <div class="form-group col w-100">
                <label for="lote">Lote</label>
                <input class="w-100" type="text" name="lote" id="lote" maxlength="20" >
              </div>

              <div class="form-group col w-100">
                <label for="fechaelabora">Fecha Elaboracion</label>
                <input type="date" name="fechaelabora" id="fechaelabora" value="{{ fecha_hoy|date:'Y-m-d' }}" >
              </div>
              <div class="form-group col w-100">
                <label for="fechavence">Fecha Vencimiento</label>
                <input type="date" name="fechavence" id="fechavence" value="{{ fecha_hoy|date:'Y-m-d' }}" >
              </div>

              <div class="form-group col w-100">
                <label for="cantidad_minima">Cant. Minima</label>
                  <input class="w-100" type="number" name="cantidad_minima" id="cantidad_minima" value="1" step="1" min="0" >
              </div>
              <div class="form-group col w-100">
                <label for="cantidad_critica">Cant. Critica</label>
                  <input class="w-100" type="number" name="cantidad_critica" id="cantidad_critica" value="1" step="1" min="0" >
              </div>

              

          </div>
            
            <div class="row w-100">
              <div class="form-group col w-100"> 
                <label for="deposito">Deposito Receptor</label>
                    <select name="deposito" id="deposito_carga" class="form-select form-select-sm" aria-label="Default select example" >
                      <option value = "" selected>Seleccionar Deposito</option>
                      {% for deposito in depositos %}
                      <option value="{{deposito.id}}">{{deposito.nombre}}</option>
                      {% endfor %}
                    </select>
              </div>
            </div>
          
    </div>

  </div>
      <div class="m-2" >
        <button type="button" class="myButtonCancel"  data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="myButtonGuardar float-end" onclick="agregarInventario()">Agregar <i class="fa-solid fa-cart-arrow-down"></i></button>
      </div>
    </div>
  </div>
</div>


<!-- Modal MODIFICAR PRODUCTOS DE LA NOTA ENTREGA -->
<div class="modal fade" id="updateProducto" tabindex="-1" aria-labelledby="updateProductoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" >
      <div class="modal-header bg-warning">
        <h6 class="modal-title" id="updateProductoLabel"><i class="fa-solid fa-pencil" ></i> Modificar Producto </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-family:Calibri, 'Trebuchet MS', sans-serif; font-size:12px;">
        <div class="row w-100">
          <div class="form-group col w-100">
            <input type="hidden" name="idDetalle" id="idDetalle">
            <label for="codigoUpdate">Codigo</label>
            <input type="text" name="codigoUpdate" id="codigoUpdate" maxlength="20" readonly style="background-color: lightgrey; color: grey;" >
          </div>

          <div class="form-group col w-100">
            <label for="nombreUpdate" class="form-label">Nombre Producto</label>
            <input class="form-control" list="datalistOptionsUpdate" id="exampleDataListUpdate" name="datalistnombre" placeholder="Escriba Nombre..." style="background-color: lightgrey; color: grey;" readonly>
            <datalist id="datalistOptionsUpdate">
              {% for producto in productos %}
                  <option value="{{ producto.nombre }}" data-id="{{ producto.id }}" >{{ producto.nombre }}</option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="producto_id_update" name="producto_id_update">
          </div>
          <div class="form-group col w-100">
            <label for="nombrecomercialUpdate" class="form-label">Nombre Comercial Producto</label>
            <input class="form-control" id="nombrecomercialUpdate" name="nombrecomercialUpdate" placeholder="Escriba Nombre..." >
          </div>
          <div class="form-group col w-50">
            <label for="cantidadcompraUpdate">Cantidad</label>
            <input type="text" name="cantidadcompraUpdate" id="cantidadcompraUpdate" min="1" step="0.01" value="0.00"  >
          </div>

          <div class="row w-100">
          <div class="form-group col w-100">
            <label for="categoriaUpdate">Categoria</label>
            <select name="categoriaUpdate" id="categoriaUpdate" class="form-select form-select-sm" aria-label="Default select example">
              <option value = "" selected>Seleccionar</option>
              {% for categoria in categorias %}
              <option value="{{categoria.id}}">{{categoria.nombre}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col w-100">
            <label for="presentacion_entradaUpdate">Presentacion</label>
            <select name="presentacion_entradaUpdate" id="presentacion_entradaUpdate" class="form-select form-select-sm" aria-label="Default select example">
              <option value = "" selected>Seleccionar</option>
              {% for presentacion in presentaciones %}
              <option value="{{presentacion.id}}">{{presentacion.nombre}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col w-100">
            <label for="unidad_compraUpdate">Unidad Compra</label>
            <select name="unidad_compraUpdate" id="unidad_compraUpdate" class="form-select form-select-sm" aria-label="Default select example" >
              <option value = "" selected>Unidad Compra</option>
              {% for item in unidadcompra %}
              <option value="{{item.id}}">{{item.nombre}}</option>
              {% endfor %}
            </select>
          </div>

        </div>
        <div class="row w-100">
          
         <!--  <div class="form-group col w-100">
            <label for="cantidad">Cantidad</label>
            <input type="number" name="cantidad" id="cantidad" min="1" step="1" value="1"  required>
          </div> -->
          <div class="form-group col w-100">
            <label for="pivaUpdate">% IVA</label>
            <input type="number" name="pivaUpdate" id="pivaUpdate" min="0" step="0.01" value="0.00" >
          </div>
          <div class="form-group col w-100">
            <label for="conversionUpdate">Conversion de salida</label>
            <input class="w-100" type="text" name="conversionUpdate" id="conversionUpdate" value="1" step="0.01" required>
          </div>

          <div class="form-group col w-100">
            <label for="costoUpdate">Costo</label>
            <input type="number" name="costoUpdate" id="costoUpdate" min="0" step="0.00001" value="0.00000" oninput="montoVentaUpdate()" >
          </div>
          <div class="form-group col w-100">
            <label for="ventaUpdate">Venta</label>
            <input type="number" name="ventaUpdate" id="ventaUpdate" min="0" step="0.01" value="0.00" >
          </div>

          <div class="form-group col w-100">
            <label for="presentacion_salidaUpdate">Unidad Venta</label>
            <select name="presentacion_salidaUpdate" id="presentacion_salidaUpdate" class="form-select form-select-sm" aria-label="Default select example">
              <option value = "" selected>Seleccionar</option>
              {% for presentacion in presentaciones %}
              <option value="{{presentacion.id}}">{{presentacion.nombre}}</option>
              {% endfor %}
            </select>
          </div>
          
           <!--  <div class="form-group col w-100">
              <label for="nombre">Nombre Producto</label>
              <input class="w-100" type="text" name="nombre" id="nombre" maxlength="200" required>
            </div> -->
          </div>
            <div class="row w-100">
              <div class="form-group col w-100">
                <label for="cantidad_minimaUpdate">Cant. Minima</label>
                  <input class="w-100" type="number" name="cantidad_minimaUpdate" id="cantidad_minimaUpdate" value="1" step="1" min="0" >
              </div>
              <div class="form-group col w-100">
                <label for="cantidad_criticaUpdate">Cant. Critica</label>
                  <input class="w-100" type="number" name="cantidad_criticaUpdate" id="cantidad_criticaUpdate" value="1" step="1" min="0" >
              </div>
          
            <div class="form-group col w-100">
              <label for="laboratorioUpdate">Laboratorio</label>
              <select name="laboratorioUpdate" id="laboratorioUpdate" class="form-select form-select-sm" required>
                {% for laboratorio in laboratorios %}
                <option value="{{laboratorio.id}}"  >{{laboratorio.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            
            
            
              <div class="form-group col w-100">
                <label for="loteUpdate">Lote</label>
                <input class="w-100" type="text" name="loteUpdate" id="loteUpdate" maxlength="20" >
              </div>
              <div class="form-group col w-100">
                <label for="fechaelaboraUpdate">Fecha Elaboracion</label>
                <input type="date" name="fechaelaboraUpdate" id="fechaelaboraUpdate" >
              </div>
              <div class="form-group col w-100">
                <label for="fechavenceUpdate">Fecha Vencimiento</label>
                <input type="date" name="fechavenceUpdate" id="fechavenceUpdate" >
              </div>

            </div>

            <div class="form-group col w-100"> 
              <label for="depositoUpdate">Deposito Receptor</label>
                  <select name="depositoUpdate" id="depositoUpdate" class="form-select form-select-sm" aria-label="Default select example" >
                    <option value = "" selected>Seleccionar Deposito</option>
                    {% for deposito in depositos %}
                    <option value="{{deposito.id}}">{{deposito.nombre}}</option>
                    {% endfor %}
                  </select>
            </div>

    </div>

      </div>
      <div class="m-2" >
        <button type="button" class="myButtonCancel"  data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" name="accion" value="modificar" class="myButtonGuardar float-end" >Aplicar Modificaciones <i class="fa-solid fa-pencil" ></i></button>
      </div>
    </div>
  </div>
</div>


</form>
{% endblock %}

{% block jsextras %}

<script src="{% static 'js/inventarioproducto.js' %}"></script>
<script src="{% static 'js/cambionombreinventarioUpdate.js' %}"></script>
<script src="{% static 'js/cambionombreinventario.js' %}"></script>

{% endblock jsextras %}