{% extends "base.html" %}

{% block title %}Lista Medicos{% endblock title %}
{% load static %}
{% block cssextras %}
<!-- <link rel="stylesheet" href="{% static 'css/presupuesto.css' %}"> -->
{% endblock cssextras %}


{% block contenido %}
<h5 class="mt-5 text-center bg-success p-2 text-white" style="font-family: Calibri, 'Trebuchet MS', sans-serif; ">
  Lista de Personal Empleado
  <a href="{% url 'enfermeria_new' %}" class="btn btn-sm btn-outline-light ms-5" type="button">Nuevo Empleado / Contratado<i class="ms-2 fa-solid fa-plus"></i></a>
</h5>
<!--Seccion de mensajes-->
{% if messages %} 
<div class="container-sm mt-0">
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="container-fluid border border-secondary m-3 p-3" style="font-family: Calibri, 'Trebuchet MS', sans-serif; font-size:12px; width:98%;">
    <table id="tblmedico" class="table table-striped table-hover table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">CEDULA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">ESPECIALIDAD</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">CORREO</th>
            <th scope="col">GRUPO</th>
            <th scope="col">...</th>
          </tr>
        </thead>
        <tbody>
          {% for medico in medicos %}
          <tr>
            <th scope="row"> {{ forloop.counter }} </th>
            <td> {{medico.id}} </td>
            <td> {{medico.cedula}} </td>
            <td> {{medico.nombre}} </td>
            <td> {{medico.especialidad}} </td>
            <td> {{medico.telefono1}} </td>
            <td> {{medico.correo}} </td>
            <td> {{medico.tipopersonal}} </td>
            <td><a class="btn btn-sm btn-outline-success" type="button" href="{% url 'edit_enfermeria' medico.id %}"><i class="fa-solid fa-pencil"></i></a> </td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>
</div>
{% endblock %}

{% block jsextras %}

<script src="{% static 'js/listamedico.js' %}"></script> 

{% endblock jsextras %}