{% extends 'base.html' %}
{% block title %}Listado Inventario{% endblock title %}

{% load static %}
{% block cssextras %}
    <!-- <link rel="stylesheet" href="{% static 'css/inventario_contable.css' %}"> -->
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <style>
    #table-container thead th {
    position: sticky;
    top: 0;  /* Fija en la parte superior */
    background-color: #ffffff;  /* Color de fondo del thead para que no se vea el contenido detrás */
    z-index: 2;  /* Asegura que esté por encima de otros elementos */
    border-bottom: 2px solid #dee2e6;  /* Opcional, para mantener el borde */
    }
    /* Opcional: Ajustes para la tabla */
    #datatable-productos {
        width: 100%;  /* Asegura que la tabla ocupe el ancho completo */
        table-layout: fixed;  /* Ayuda a mantener las columnas alineadas */
    }
  </style>

{% endblock cssextras %}


{% block contenido %}

<form action="" method="post">
    {% csrf_token %}
    
    <h6 class="bg-warning  p-2 mt-5 pt-2 text-white" style="font-weight: 700;">Listado de inventario contable por rango de fechas  </h6>
   
    <div class="input-group mb-3" style="width: 45rem; font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 9px;">
      <span class="input-group-text" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;" ><b>Fecha Inicio</b></span>
      <input type="text" class="form-control form-control-sm" id="id_fecha_inicio" lang="es" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;"
      value="{{ fecha_inicio_inventario|date:'d/m/Y' }}"  >


      <span class="input-group-text" id="basic-addon1" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;"><b>Fecha Tope</b></span>
      <input type="text" class="form-control form-control-sm" id="id_fecha_tope" lang="es" placeholder="dd/mm/yyyy" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;" 
      value="{{ fecha_tope_inventario|date:'d/m/Y' }}">
      

      <select class="form-select form-select-sm" id="categoria_filtro" name="categoria_filtro" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px; width: 10rem;">
        <option value="" selected>Seleccione Categoria</option>
          {% for categoria in categorias %}
            <option value="{{ categoria.id }}" >{{ categoria.nombre }}</option>
          {% endfor %}
      </select>
      <button class="btn btn-sm btn-outline-primary" type="button" onclick="seleccion_fechas()">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
      
    </div>
   

    <div class="container-fluid p-3">
      <div id="tabla-inventario-contable">
         {% include 'tabla_inventario_contable.html' %}
      </div>
      
    </div>


{% endblock %}

{% block jsextras %}


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- DataTables core (si no lo tienes ya) -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- Buttons y dependencias para exportación -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>  <!-- Excel, CSV, etc. -->
<!-- Opcional: para PDF e impresión -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.pdfmake.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/inventario_contable.js' %}"></script>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            flatpickr("#id_fecha_tope", {
                dateFormat: "d/m/Y",  // Formato: dd/mm/yyyy (d = día, m = mes, Y = año)
                locale: "es",  // Idioma español para el date picker
                onChange: function(selectedDates, dateStr, instance) {
                    // Opcional: Puedes agregar lógica aquí, como validar la fecha
                    console.log("Fecha seleccionada: " + dateStr);  // Para depuración
                }
            });

            flatpickr("#id_fecha_inicio", {
                dateFormat: "d/m/Y",  // Formato: dd/mm/yyyy (d = día, m = mes, Y = año)
                locale: "es",  // Idioma español para el date picker
                onChange: function(selectedDates, dateStr, instance) {
                    // Opcional: Puedes agregar lógica aquí, como validar la fecha
                    console.log("Fecha seleccionada: " + dateStr);  // Para depuración
                }
            });


          const fechaInicio = flatpickr("#id_fecha_inicio", {
                dateFormat: "d/m/Y",
                locale: "es"
            });

            const fechaTope = flatpickr("#id_fecha_tope", {
                dateFormat: "d/m/Y",
                locale: "es",
                onChange: function(selectedDates){
                    fechaInicio.set("maxDate", selectedDates[0]);
                }
            });
        });
    </script>

{% endblock jsextras %}