{% extends "base.html" %}

{% block title %}Facturas Pagadas{% endblock title %}
{% load static %}
{% block cssextras %}
<link rel="stylesheet" href="{% static 'css/facturapagada.css' %}">

{% endblock cssextras %}
 

{% block contenido %}
<form action="" method="post" onsubmit="advertenciaISLR(event)">
    {% csrf_token %}
    <h6 class="mt-4 pt-4 pb-1 text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color:#bdc3c7;">LISTA DE PREFACTURA y FACTURA DEL PERSONAL</h6>
<div class="container-fluid border border-primary rounded p-3 pb-5 mx-auto"  >
    <table id="tbl-facturas-retencion" class="table table-striped table-hover table-primary ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha Emision</th>
            <th scope="col">Beneficiario</th>
            <th scope="col">Tipo</th>
            <th scope="col">#Documento</th>
            <th scope="col">#Control</th>
            <th scope="col" style="text-align: center;">Info</th>
            <th scope="col" style="text-align: center;">Emitir Comprobante</i></th>
            <th scope="col">...</th>
          </tr>
        </thead>
        <tbody>
            {% for fp in facturaspagadas %}
            <tr>
                <th scope="row"> {{ forloop.counter }} </th>
                <td>{{fp.fecha_entrega|date:'d/m/Y'}}</td>
                <td>{{fp.medico}}</td>
                <td>{{ fp.factura.tipodocumento }}  </td>
                {% if fp.factura.tipodocumento_id == 1 %}
                <td>{{fp.factura.numerodocumento}}</td>
                <td>{{fp.factura.numerocontrol}}</td>
                {% else %}
                <td><a href="{% url 'factura_automatica_medico' fp.factura_id %}">{{fp.numerodocumento}}</a></td>
                <td>{{fp.numerocontrol}}</td>
                {% endif %}
                {% if fp.comprobante %}
                  <td><a href="{% url 'pdf_retencion' fp.comprobante_id %}" target="_blank">{{fp.comprobante}}</a> </td>
                {% else %}
                  <td><b>Saldo x Pagar:</b> {{fp.factura.saldo_factura_bs | floatformat:2}}</td>
                {% endif %}

                  {% if fp.factura.saldo_factura <= 0.15 and not fp.comprobante %}
                  <td style="text-align:center;"><input type="checkbox" name="name_checkretencion" id="checkretencion" value="{{fp.id}}"></td>
                  {% else %}
                    {% if fp.comprobante %}
                      <<td style="text-align:center;"><i class="fa-solid fa-arrow-left" style="color: rgb(44, 156, 16);"></i> Generado</td>
                    {% else %}
                      <td style="text-align:center;">Saldo Pendiente</td>
                    {% endif %}
                  {% endif %}

                <td><a href="{% url 'pagos_prefactura_medico' fp.factura_id %}" type="button" class="btn btn-sm btn-outline-danger p-1 ps-2 pe-2" >

                  Pagos
                </a></td>


              </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr style="font-weight: bold;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;">TOTALES:</td>
                <td style="text-align: right;">{{total_imponible}} </td>
                <td style="text-align: right;">{{total_retencion}} </td>
                <td style="text-align: right;">{{total_pagado}} </td>
            </tr>
        </tfoot>
      </table>

      <div class="row w-25 float-end" >
        <button class="myButtonGuardar float-end " type="submit"><i class="fa-regular fa-folder"></i> Generar Retencion ISLR Seleccionados</button>
      </div>
</div>


</form>
{% endblock %}

{% block jsextras %}

<script src="{% static 'js/facturapagada.js' %}"></script> 
 

{% endblock jsextras %}