{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/recibopago.css' %}">
</head>
<body>
    <div class="container border border-secondary p-2 rounded mt-2" style="width: 750px; height: 480px; ">
       
        <!--  -->
        <div class="flexbox">
            <div class="item">
              <div class="content">
                <img href="#" src="/static/imagen/logoinforme.jpg" alt="" width="130" height="30" class="d-inline-block align-text-top">
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="mt-2">RECIBO DE PAGO </h6>
              </div>
            </div>
        </div>

         
        <div class="container-w100 p-2 mb-1 " style="border-radius: 10px 10px 0px 0px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:11px;line-height:0.5;">

           <div class="row">
            <div class="col">
                <p>Beneficiario: {{facturaproveedor.proveedor}} </p>
                <p>Cedula : {{facturaproveedor.proveedor.cedula}}</p>
                <p>Telefono : {{facturaproveedor.proveedor.telefono1}}</p>
                <p style="line-height: 1;">Direccion : {{facturaproveedor.proveedor.direccion}}</p>
            </div>
            <div class="col">
                <p><b>Numero Recibo:</b> {{facturaproveedor.id|stringformat:"08d"}} </p>
                <p><b>Tipo Documento:</b> {{facturaproveedor.tipodocumento}} : {{facturaproveedor.numerodocumento}} </p>
                <p><b>Fecha Emision :</b> {{fecha_hoy}}</p>
            </div>
           </div>

        </div>

       
        <div class="container w-100 p-2 mt-1 rounded" style="background-color: #f8f9f9;">
            <table class="table" style="font-family:Calibri, 'Trebuchet MS', sans-serif; font-size:10px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col" style="text-align: center;"> USD</th>
                    <th scope="col" style="text-align: center;"> VED</th>
                  </tr>
                </thead>
                <tbody style="line-height: 1;">
                 {% for dtl in detallefactura %}
                 <tr>
                    <th scope="row"> {{ forloop.counter }} </th>
                    <td>{{dtl.cantidad}}</td>
                    <td>{{dtl.descripcion}}</td>
                    <td style="color: green; text-align: right;">{{dtl.apagar|floatformat:2}}</td>
                    <td style="text-align: right;">{{dtl.apagarbs|floatformat:2}}</td>
                  </tr>
                 {% endfor %}
                
                </tbody>
              </table>

        </div>
        <div class="container-w100 p-2 mb-1 " style="border-radius: 10px 10px 0px 0px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:11px;line-height:1;">
           <div class="row w-100">
            <div class="col">
                <p>TOTAL USD: <b>{{total_neto_usd|floatformat:2}} </b> </p>
                <p>TOTAL VED: <b>{{total_neto_bs|floatformat:2}} </b></p>
            </div>
            <div class="col" >
                <p style="font-size: 10px;">CONCEPTO : <b> {{facturaproveedor.concepto}}</b></p>
                <p>GASTOS ADMINISTRATIVOS: <b>-{{ facturaproveedor.total_gastos_bs | floatformat:2 }}</b> </p> 
            </div>
            <div class="col">
                <p>% RETENCION : <b>{{facturaproveedor.porcentaje_retencion_islr}} </b></p>
                
                <p>MONTO RETENCION ISLR:  <b>{{facturaproveedor.retencion_islr_monto_bs|floatformat:2}} </b></p>
            </div>
            <!-- <div class="col text-center" style="font-size: 14px;">
                <P>NETO PAGAR</P>
                {% if facturaproveedor.transaccion.bancolocal.moneda_id == 1 %}
                    <p><b>{{total_neto_usd|floatformat:2}} $</b></p>
                {% else %}
                    <p><b>{{neto_bolivares|floatformat:2}}</b></p>
                {% endif %}
            </div> -->
        </div>

        </div>
        <div class="container w-100 p-2 mt-1" style="border-radius: 0px 0px 10px 10px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:12px;line-height:1;">
            
            <table class="table table-sm table-striped table-dark table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Destino</th>
                    <th scope="col" style="text-align: center;">Monto</th>
                    <th scope="col" style="text-align: center;">Monto USD</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Nota</th>
    
                  </tr>
                </thead>
                <tbody>
                    {% for item in transaccion %}
                    <tr>
                        <td> {{item.fecha_act}} </td>
                        <td> {{item.referencia}} </td>
                        <td> {{item.pagomedico.nombre}} </td>
                        <td style="text-align: right;"> {{item.monto_positivo}} </td>
                        <td style="text-align: right;"> {{item.monto_bs_positivo}} </td>
                        <td> {{item.pagomedico.moneda}} </td>
                        <td> {{item.nota}} </td>
                    </tr>
    
                    {% endfor %}
                </tbody>
              </table>

        </div>
        <div class="container  p-2  w-100 mt-1" style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:11px;line-height:0.5; height:5rem;">
            <p>Nombre y Firma</p>
        </div>
       
    </div> 

    <!-- segundo recibo -->
    <div class="container border border-secondary p-2 mt-1 rounded" style="width: 750px; height: 480px; ">
       
        <!--  -->
        <div class="flexbox">
            <div class="item">
              <div class="content">
                <img href="#" src="/static/imagen/logoinforme.jpg" alt="" width="130" height="30" class="d-inline-block align-text-top">
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="mt-2">RECIBO DE PAGO </h6>
              </div>
            </div>
        </div>

         
        <div class="container-w100 p-2 mb-1 " style="border-radius: 10px 10px 0px 0px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:11px;line-height:0.5;">

           <div class="row">
            <div class="col">
                <p>Beneficiario: {{facturaproveedor..proveedor}} </p>
                <p>Cedula : {{facturaproveedor.proveedor.cedula}}</p>
                <p>Telefono : {{facturaproveedor.proveedor.telefono1}}</p>
                <p style="line-height: 1;">Direccion : {{facturaproveedor.proveedor.direccion}}</p>
            </div>
            <div class="col">
                <p><b>Numero Documento:</b> {{facturaproveedor.id|stringformat:"08d"}} </p>
                <p><b>Tipo Documento:</b> {{facturaproveedor.tipodocumento}} : {{facturaproveedor.numerodocumento}} </p>
                <p><b>Fecha Emision :</b> {{fecha_hoy}}</p>
            </div>
           </div>

        </div>

       
        <div class="container w-100 p-2 mt-1 rounded" style="background-color: #f8f9f9;">
            <table class="table" style="font-family:Calibri, 'Trebuchet MS', sans-serif; font-size:10px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col" style="text-align: center;"> USD</th>
                    <th scope="col" style="text-align: center;"> VED</th>
                  </tr>
                </thead>
                <tbody style="line-height: 1;">
                 {% for dtl in detallefactura %}
                 <tr>
                    <th scope="row"> {{ forloop.counter }} </th>
                    <td>{{dtl.cantidad}}</td>
                    <td>{{dtl.descripcion}}</td>
                    <td style="color: green; text-align: right;">{{dtl.apagar|floatformat:2}}</td>
                    <td style="text-align: right;">{{dtl.apagarbs|floatformat:2}}</td>
                  </tr>
                 {% endfor %}
                
                </tbody>
              </table>

        </div>
        <div class="container-w100 p-2 mb-1 " style="border-radius: 10px 10px 0px 0px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:11px;line-height:1;">
           <div class="row w-100">
            <div class="col">
                <P>TOTAL USD: <b>{{total_neto_usd|floatformat:2}} </b> </P>
                <P>TOTAL VED: <b>{{total_neto_bs|floatformat:2}} </b></P>
            </div>
            <div class="col" >
                <p style="font-size: 10px;">CONCEPTO : <b> {{facturaproveedor.concepto}}</b></p>
                <p>GASTOS ADMINISTRATIVOS: <b>-{{ facturaproveedor.total_gastos_bs | floatformat:2 }}</b> </p> 
            </div>
            <div class="col">
                <P>% RETENCION : <b>{{facturaproveedor.porcentaje_retencion_islr}} </b></P>
                
                <P>MONTO RETENCION:  <b>{{facturaproveedor.retencion_islr_monto_bs|floatformat:2}} </b></p>
            </div>
            <!-- <div class="col text-center" style="font-size: 14px;">
                <P>NETO PAGAR</P>
                {% if facturaproveedor.transaccion.bancolocal.moneda_id == 1 %}
                    <p><b>{{total_neto_usd|floatformat:2}} $</b></p>
                {% else %}
                    <p><b>{{neto_bolivares|floatformat:2}}</b></p>
                {% endif %}
            </div> -->
        </div>

        </div>
        <div class="container w-100 p-2 mt-1" style="border-radius: 0px 0px 10px 10px; background-color:#d6dbdf; font-family:Calibri, sans-serif; font-size:12px;line-height:1;">

            
            <table class="table table-sm table-striped table-dark table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Destino</th>
                    <th scope="col" style="text-align: center;">Monto</th>
                    <th scope="col" style="text-align: center;">Monto USD</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Nota</th>
    
                  </tr>
                </thead>
                <tbody>
                    {% for item in transaccion %}
                    <tr>
                        <td> {{item.fecha_act}} </td>
                        <td> {{item.referencia}} </td>
                        <td> {{item.pagomedico.nombre}} </td>
                        <td style="text-align: right;"> {{item.monto_positivo}} </td>
                        <td style="text-align: right;"> {{item.monto_bs_positivo}} </td>
                        <td> {{item.pagomedico.moneda}} </td>
                        <td> {{item.nota}} </td>
                    </tr>
    
                    {% endfor %}
                </tbody>
              </table>

        </div>
        <div class="container  p-2  w-100 mt-1" style="font-family:Tahoma, Geneva, Verdana, sans-serif; font-size:11px;line-height:0.5; height:5rem;">
            <p>Nombre y Firma</p>
        </div>
       
    </div>
    
</body>
<footer>
    
</footer>
</html>