<table id="tbl-facturas-retencion" class="table-sm table table-striped table-hover">
    <thead >
        <tr>
            <th rowspan="2" style="background-color: rgb(136, 146, 151) !important; color: white;">#</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">Fecha Emision</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">Beneficiario</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">Tipo</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">#Documento</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">#Control</th>
            <th rowspan="2" style="text-align:center;background-color: rgb(112, 141, 155) !important; color: white;">Info</th>
            <th rowspan="2" style="text-align:center;background-color: rgb(112, 141, 155) !important; color: white;">Emitir Comprobante</th>
            <th rowspan="2" style="background-color: rgb(112, 141, 155) !important; color: white;">...</th>

            <!-- Agrupador -->
            <th colspan="3" style="text-align:center; background-color: rgb(134, 164, 179) !important; color: white;">
                Distribución de Pago
            </th>
        </tr>

        <tr>
            <th style="text-align:center;background-color: rgb(134, 164, 179) !important; color: white;">...</th>
            <th style="text-align:center;background-color: rgb(134, 164, 179) !important; color: white;">Dólar</th>
            <th style="text-align:center;background-color: rgb(134, 164, 179) !important; color: white;">Bs</th>
        </tr>
    </thead>
        <tbody>
            {% for fp in facturaspagadas %}
            <tr>
                <th scope="row"> {{ forloop.counter }} </th>
                <td>{{fp.fecha_entrega|date:'d/m/Y'}}</td>
                <td>{{fp.medico}}</td>
                <td>{{ fp.factura.tipodocumento }}  </td>
                {% if fp.factura.tipodocumento_id == 1 %}
                <td>{{fp.factura.numerodocumento}}</td>
                <td>{{fp.factura.numerocontrol}}</td>
                {% else %}
                <td><a href="{% url 'factura_automatica_medico' fp.factura_id %}">{{fp.numerodocumento}}</a></td>
                <td>{{fp.numerocontrol}}</td>
                {% endif %}
                {% if fp.comprobante %}
                  <td><a href="{% url 'pdf_retencion' fp.comprobante_id %}" target="_blank">{{fp.comprobante}}</a> </td>
                {% else %}
                  <td><b>Saldo x Pagar:</b> {{fp.factura.saldo_factura_bs | floatformat:2}}</td>
                {% endif %}

                  {% if fp.factura.saldo_factura <= 0.15 and not fp.comprobante %}
                  <td style="text-align:center;"><input type="checkbox" name="name_checkretencion" id="checkretencion" value="{{fp.id}}"></td>
                  {% else %}
                    {% if fp.comprobante %}
                      <td style="text-align:center;"><i class="fa-solid fa-arrow-left" style="color: rgb(44, 156, 16);"></i> Generado</td>
                    {% else %}
                      <td style="text-align:center;">Saldo Pendiente</td>
                    {% endif %}
                  {% endif %}

                <td>
                  <div class="dropdown">
                      <button class="btn btn-sm btn-outline-dark dropdown-toggle"
                              type="button"
                              data-bs-toggle="dropdown"
                              aria-expanded="false">
                          Acciones
                      </button>

                      <ul class="dropdown-menu">
                          <li>
                              <a class="dropdown-item"
                                href="{% url 'pagos_prefactura_medico' fp.factura_id %}">
                                  <i class="fa-regular fa-credit-card"></i> Pagos
                              </a>
                          </li>
                          {% if fp.factura.tipodocumento_id == 5 %}
                          <li>
                              <button type="button" class="dropdown-item" onclick="anular_prefactura('{{fp.id}}', '{{fp.factura.id}}')">
                                  <i class="fa-solid fa-file-circle-xmark"></i> Anular Prefactura
                          </button>
                          </li>
                          {% endif %}
                          
                      </ul>
                  </div>
              </td>
                <td style="text-align: center;">
                  <input type="checkbox" name="name_distribucion" id="distribucion__{{ fp.id }}">
                </td>
                <td>{{ fp.total_distribuido_dl|floatformat:2 }}</td>
                <td>{{ fp.total_distribuido_ves|floatformat:2 }}</td>
              </tr>
            {% endfor %}
        </tbody>
        <!-- <tfoot>
            <tr style="font-weight: bold;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;">TOTALES:</td>
                <td style="text-align: right;">{{total_imponible}} </td>
                <td style="text-align: right;">{{total_retencion}} </td>
                <td style="text-align: right;">{{total_pagado}} </td>
            </tr>
        </tfoot> -->
      </table>

