<!-- En el <head> de tu template (o base.html) -->

<!-- Antes del cierre de </body>, después de tu tabla y antes de tu script JS -->
<!-- jQuery (si no lo tienes ya en tu proyecto) -->

<div id="table-container" style="max-height: 800px; overflow-y: auto; overflow-x: auto;">
  <table class="table table-hover" style="font-family:   Calibri, 'Trebuchet MS', sans-serif; font-size: 11px;" id="datatable-productos">
      <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col" >CODIGO</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">NOMBRE COMERCIAL</th>
          <th scope="col">COSTO</th>
          <th scope="col" style="text-align: right;" >DESCARGA</th>
          <th scope="col" style="text-align: center;" >UNIDAD SALIDA</th>
          <th scope="col" style="text-align:right;">CONVERSION</th>
          <th scope="col" style="text-align:right;" >ENTRADA</th>
          <th scope="col" style="text-align: center;" >UNIDAD ENTRADA</th>
          <th scope="col" style="text-align:right;">EXISTENCIA</th>
          <th scope="col" style="text-align: center;" >UNIDAD</th>
        </tr>
      </thead>
      <tbody id="tableBody_inventario">
      
        
      </tbody>
  </table>
</div>



