<table class="table table-primary table-hover p-0 " >
    <thead>
      <tr>
        <th >ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Quitar</th>
      </tr>
    </thead>
    <tbody style="cursor:pointer;">
      {% for item in medicosatencioninmediata  %}
      <tr>
        <td > {{item.id}} </td>
        <td> {{item.medico}} </td>
        <td> {{item.medico.especialidad}} </td>
        <td>
            <button type="button" style="border: none; background-color:transparent;" onclick="eliminarMedicoatencionInmediata('{{item.id}}')"><i class="fa-solid fa-trash" style="color: red;"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
