<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Clave Actualizada | UQ58</title> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title" style="font-size: 14pt;"> 
            <img src="{% static 'imagen/logosolo.png' %}" alt="Logo" class="logo" width="50" height="50" style="margin-right: 5px;" > 
            <span> UNIDAD QUIRURGICA 58</span>
        </div>
        
        <div class="login" style="text-align: center; margin-top: 30px;">
          <i class="fas fa-check-circle" style="font-size: 50px; color: #16a085; margin-bottom: 20px;"></i>
          <h3 style="font-family: Calibri, sans-serif; margin-bottom: 15px;">¡Contraseña cambiada!</h3>
          <p style="font-family: Calibri, sans-serif; color: gray; margin-bottom: 30px;">
            Su clave ha sido actualizada exitosamente.
          </p>
          
          <form action="{% url 'salir' %}" method="GET">
              <div class="row button" style="margin-top: 25px;">
                <input type="submit" value="OK" style="background: #16a085; color: #fff; border-radius: 5px; border: none; font-size: 18px; font-weight: 500; cursor: pointer; width: 100%; height: 100%;">
              </div>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>